<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="JwtSecretKey" value="YourSuperSecretKeyForHospitalAppointmentSystem2024MakeItLongAndSecure" />
    <add key="JwtIssuer" value="HospitalAppointmentSystem" />
    <add key="JwtAudience" value="HospitalAppointmentUsers" />
    <add key="JwtExpirationMinutes" value="1440" />
    

    
    <!-- For Gmail: Use your Gmail address and App Password -->
    <!-- <add key="SmtpEmail" value="your-email@gmail.com" /> -->
    <!-- <add key="SmtpPassword" value="your-app-password" /> -->
    
    <!-- For Outlook/Hotmail: Use your Outlook email and password -->
    <!-- <add key="SmtpEmail" value="your-email@outlook.com" /> -->
    <!-- <add key="SmtpPassword" value="your-password" /> -->
    
    <!-- For Yahoo: Use your Yahoo email and App Password -->
    <!-- <add key="SmtpEmail" value="your-email@yahoo.com" /> -->
    <!-- <add key="SmtpPassword" value="your-app-password" /> -->
    
    <!-- For SendGrid: Use "apikey" as username and your API key as password -->
    <!-- <add key="SendGridUsername" value="apikey" /> -->
    <!-- <add key="SendGridApiKey" value="your-sendgrid-api-key" /> -->
    
    <!-- Security Email Notifications Configuration -->
    <!-- Uncomment and configure these settings for email notifications -->
    <!-- 
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUsername" value="your-email@gmail.com" />
    <add key="SmtpPassword" value="your-app-password" />
    <add key="FromEmail" value="noreply@hospitalappointment.com" />
    <add key="FromName" value="Hospital Appointment System" />
    -->
    

  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="tr-TR" uiCulture="tr-TR" />
    <authentication mode="Forms">
      <forms loginUrl="/pages/Login.aspx" timeout="2880" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  
  <location path="Pages/Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Pages/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Pages/PasswordReset.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
      <location path="Pages/ResetPassword.aspx">
      <system.web>
        <authorization>
          <allow users="*" />
        </authorization>
      </system.web>
    </location>
    
            <location path="Pages/OTPVerification.aspx">
          <system.web>
            <authorization>
              <allow users="*" />
            </authorization>
          </system.web>
        </location>
        <location path="Pages/CompleteRegistration.aspx">
          <system.web>
            <authorization>
              <allow users="*" />
            </authorization>
          </system.web>
        </location>
        <location path="Pages/OTPVerificationNoSidebar.aspx">
          <system.web>
            <authorization>
              <allow users="*" />
            </authorization>
          </system.web>
        </location>
        

  

    

    
    <location path="Pages/AuthTest.aspx">
      <system.web>
        <authorization>
          <allow users="*" />
        </authorization>
      </system.web>
    </location>
  
  
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Type" value="text/html; charset=utf-8" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  
  <connectionStrings>
    <add name="HospitalDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=HospitalDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=HospitalDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
